GOOGLE_CLIENT_ID=your-google-client-id.apps.googleusercontent.com
JWT_SECRET=your-jwt-secret-key
SMTP_HOST=smtp.gmail.com
SMTP_USER=your-email@gmail.com
SMTP_PASS=your-app-password
GEMINI_API_KEY=your-gemini-api-key
GEMINI_API_KEY_CHAT=your-gemini-chat-api-key
FIREBASE_SERVICE_ACCOUNT_PATH=firebase-services-account.json
DB_DRIVER=postgres
DB_SOURCE=postgresql://postgres:password@localhost:5432/postgres?sslmode=disable
