apiVersion: v1
kind: Secret
metadata:
  name: firebase-secret
  namespace: whistleblower
type: Opaque
stringData:
  firebase-services-account.json: |
    {
      "type": "service_account",
      "project_id": "whistleblower-ptfic",
      "private_key_id": "e2b0c5c4d9f3e8a7b6c5d4e3f2a1b0c9d8e7f6a5",
      "private_key": "-----BEGIN PRIVATE KEY-----\nMIIEvQIBADANBgkqhkiG9w0BAQEFAASCBKcwggSjAgEAAoIBAQC...\n-----END PRIVATE KEY-----\n",
      "client_email": "firebase-adminsdk-xxxxx@whistleblower-ptfic.iam.gserviceaccount.com",
      "client_id": "123456789012345678901",
      "auth_uri": "https://accounts.google.com/o/oauth2/auth",
      "token_uri": "https://oauth2.googleapis.com/token",
      "auth_provider_x509_cert_url": "https://www.googleapis.com/oauth2/v1/certs",
      "client_x509_cert_url": "https://www.googleapis.com/robot/v1/metadata/x509/firebase-adminsdk-xxxxx%40whistleblower-ptfic.iam.gserviceaccount.com"
    }
